@model ToDoList
<h1 class="text-center">Detalhes da Lista de Tarefas</h1>

<hr />
<div class="container">
    <div class="row justify-content-center ">
<br />
<br />
<br />
Id: @Model.ToDoListId
<br />
Descrição: @Model.Content
<br />
Categoria: @Model.Category
<br />
Data de Vencimento: @Model.DateExpiration
<br />
Status: @Model.Status
<br />
        <br />
        <br />
    </div>
</div>
<div class="text-center">
    <td>
        <a asp-action="Delete" asp-route-id="@Model.ToDoListId" class="btn btn-sm btn-danger ">Deletar Produto</a>
    </td>

</div>
