@model List<ToDoList>
<h1>Tarefas a Fazer</h1>



<table class="table">
    @* Estilizar essa parte da tabela com cor azul bem claro *@
    <thead>
        <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Data de Vencimento</th>
            <th>Status</th>
            <th class="w-25"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todolist in Model)
        {
            if (todolist.Status == "A Fazer")
            {
                <tr>
                    <td>@todolist.ToDoListId</td>
                    <td>@todolist.Content</td>
                    <td>@todolist.Category</td>
                    <td>@todolist.DateExpiration?.ToString("dd/MM/yyyy")</td>
                    <td>@todolist.Status</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@todolist.ToDoListId" class="btn btn-sm btn-secondary">Editar</a> |
                        <a asp-action="Details" asp-route-id="@todolist.ToDoListId" class="btn btn-sm btn-info">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@todolist.ToDoListId" class="btn btn-sm btn-danger">Deletar</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>